<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link href="{{ url_for('static', filename='styles/base.css') }}" rel="stylesheet">
    <title>HOCR</title>
</head>

<body>
    <nav>
        <a href="#">HOME</a>
        <a href="#about">ABOUT</a>
        <a href="mailto:simrat.singh2019@vitstudent.ac.in" target="_blank" rel="noopener noreferrer">CONTACT</a>
        <div id="indicator"></div>
    </nav>
    
    {% block content %}{% endblock %}

    <div id="about">
        <h1>About the project</h1>
        <p>
            This is a software project for SIH- Smart India Hackathon 2022.
        </p>
        <p>
            The project is a web application that allows users to upload their handwritten documents and convert them
            into human-readable and editable text. We support most of the regional Indian languages including hindi, english, french, german and spanish.
        </p>
        <p>
            This project is developed by six students of Vellore Institute of Technology, Chennai Campus.
        </p>
    </div>
    <div class="space">
        <p>© Developed by VITians</p>
    </div>
    <script src="{{ url_for('static', filename='scripts/base.js') }}" type="text/javascript"></script>
</body>

</html>