{% extends "base.html" %} {% block content %}

<div class="content">
    <div class="image">
        <img src="{{url_for('static', filename='uploads/test.jpeg')}}" alt="">
    </div>
    <div class="text">
        <p class="converted-text">Date Na Page No Expt. PROCTOR : SANJIT DAS MOBILE : 9498093769 at minimum the he throat will be we pess di = 15 = (15)² = cm I 176.7 com? . 다 cm² 44.175 (7.5)² ² = . = A 7.5cm A da = = 10²N/m² (gauge) 70 x P = 70 kPa - m² N / 103 1008 kPa = 100 paten N/m² 170x103 = x103) (100 Goxio 3) + Pilebs) = 170x103 of water 17.33m oo B - Pa 481 1000 X water 14.83 m of p. 5 = 17.33 - b= i pg PS Jx9.51x333 0.97 x 175.7x44.175 X Q = CLA, A, xvagn So, We nowy (176.77 VAZA? (175) = 75488cm3 Ls - 75.488 LLS Teacher's Signature</p>
    </div>
</div>

{% endblock %}